<!DOCTYPE html>
<html>
  <head>
    <title>エラー</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%
       var user = JSON.stringify(user);
    %>
    <div id="app">
      <p>エラーが発生しました</p>
      <a href="/">一覧へ戻る</a>
    </div>
    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-49863180-2', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
  </body>
</html>