<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app">
      <login-content></login-content>
    </div>
    <script src="/javascripts/index.bundle.js"></script>
  </body>
</html>
