<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="google-site-verification" content="DIK_YyNhk3h6lqoQP4hQNKEUk7He4jb-hU1bshCct5I" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app">
      <main-header></main-header>
      <login-content></login-content>
    </div>
    <script src="/javascripts/index.bundle.js"></script>
    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-49863180-2', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
  </body>
</html>
