<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app">
      <main-header></main-header>
      <main-contents></main-contents>
    </div>
    <p><%= user.displayName %>さん</p>
    <script src="/javascripts/app.bundle.js"></script>
  </body>
</html>
