<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="google-site-verification" content="DIK_YyNhk3h6lqoQP4hQNKEUk7He4jb-hU1bshCct5I" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%
       var user = JSON.stringify(user);
    %>
    <div id="app">
      <main-header :user="<%= user %>"></main-header>
      <router-view></router-view>
      <!--<main-contents></main-contents>-->
    </div>
    <script src="/javascripts/app.bundle.js"></script>
  </body>
</html>
